.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  background-color: #1a73e8;
  color: white;
}
// @media (orientation:portrait) {
//   .chart-container {
//     min-height: 50vh;
//   }
//  }
 
//  @media (orientation:landscape) {
//   .chart-container {
//     min-height: 50vh;
//   }
//  }